@media (max-width: 1333px) {
  .app {
    padding: 43px 20px;
  }
  .table__flag-fio {
    margin-right: auto;
  }
  .table__flag-contact {
    /* margin-right: auto; */
    /* padding: 0; */
    padding-right: 115px;
  }

  .table__flag-update {
    padding-right: 54px;
  }

  .table__subtitle-operation {
    padding-right: 128px;
  }
}

@media (max-width: 1185px) {
  .app {
    padding: 43px 20px;
  }
  .app__title {
    margin-bottom: 7px;
    padding-bottom: 0px;
    font-size: 26px;
  }

  .table__flag-id {
    padding-right: 45px;
  }

  .table__flag-fio {
    padding-right: 69px;
  }

  .table__flag-create {
    display: inline;
    height: 27px;
    padding-right: 84px;
    text-align: left;
  }

  .table__subtitle-create1 {
    display: block;
    text-align: left;
    margin-bottom: -7px;
  }
  .table__subtitle-create2 {
    display: inline;
    text-align: left;
  }

  .btn-create {
    display: inline-flex;
    height: 10px;
  }

  .btn-create__dw,
  .btn-create__up {
    transform: translateY(2px) translateX(-3px);
  }

  .table__flag-update {
    display: inline;
    height: 27px;
    padding-right: 68px;
    text-align: left;
  }

  .table__subtitle-update1 {
    display: block;
    text-align: left;
    margin-bottom: -7px;
  }

  .table__subtitle-update2 {
    display: inline;
    text-align: left;
  }

  .btn-update {
    display: inline-flex;
    height: 10px;
  }

  .btn_update__dw,
  .btn_update__up {
    transform: translateY(2px) translateX(-3px);
  }

  .table__flag-contact {
    margin-right: auto;
    padding-right: 100px;
  }

  .table__id {
    padding-right: 25px;
  }

  .table__fio {
    padding-right: 5px;
    width: 234px;
  }

  .table__create-time,
  .table__update-time {
    padding-right: 37px;
  }

  .table__connection {
    margin-right: auto;
    max-width: 144px;
    width: 144px;
  }

  .table__body {
    /* width: 984px; */
  }

  .table {
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .app {
    padding: 43px 20px;
  }
  .app__title {
    margin-bottom: 7px;
    padding-bottom: 0px;
    font-size: 26px;
  }

  .table__flag-id {
    padding-right: 45px;
  }

  .table__flag-fio {
    padding-right: 71px;
  }

  .table__flag-create {
    display: inline;
    height: 27px;
    padding-right: 84px;
    text-align: left;
  }

  .table__subtitle-create1 {
    display: block;
    text-align: left;
    margin-bottom: -7px;
  }
  .table__subtitle-create2 {
    display: inline;
    text-align: left;
  }

  .btn-create {
    display: inline-flex;
    height: 10px;
  }

  .btn-create__dw,
  .btn-create__up {
    transform: translateY(2px) translateX(-3px);
  }

  .table__flag-update {
    display: inline;
    height: 27px;
    padding-right: 68px;
    text-align: left;
  }

  .table__subtitle-update1 {
    display: block;
    text-align: left;
    margin-bottom: -7px;
  }

  .table__subtitle-update2 {
    display: inline;
    text-align: left;
  }

  .btn-update {
    display: inline-flex;
    height: 10px;
  }

  .btn_update__dw,
  .btn_update__up {
    transform: translateY(2px) translateX(-3px);
  }

  .table__flag-contact {
    padding-right: 94px;
  }

  .table__id {
    padding-right: 25px;
  }

  .table__fio {
    padding-right: 5px;
    width: 234px;
  }

  .table__create-time,
  .table__update-time {
    padding-right: 37px;
  }

  .table__connection {
    margin: 0;
    max-width: 144px;
    width: 144px;
  }

  .table__body {
    /* width: 984px; */
  }

  .table {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .table__id {
    padding-right: 17px;
  }
  .table__flag-id {
    padding-right: 36px;
  }
  .table__flag-fio {
    padding-right: 126px;
    margin: 0;
  }

  .table__flag-create {
    padding-right: 22px;
  }

  .table__flag-update {
    padding-right: 23px;
  }
  .table__flag-contact {
    padding-right: 32px;
  }
  .table__fio {
    width: 216px;
    margin-right: 72px;
  }

  .table__create-container,
  .table__update-container {
    display: flex;
    flex-direction: column;
    padding-right: 27px;
    text-align: left;
  }

  .table__create-date,
  .table__update-date {
    padding: 0;
  }
  .table__update-time,
  .table__create-time {
    padding: 0;
  }

  .table__th-action {
    flex-direction: column;
    text-align: left;
  }

  .btn-change {
    margin: 0;
  }

  .table__connection {
    max-width: 131px;
    margin-right: auto;
  }
  .table__subtitle-operation {
    padding-right: 35px;
  }
}

@media (max-width: 768px) {
  .table__id {
    padding-right: 17px;
  }
  .table__flag-id {
    padding-right: 36px;
  }
  .table__flag-fio {
    padding-right: 55px;
    margin: 0;
  }

  .table__flag-create {
    padding-right: 22px;
  }

  .table__flag-update {
    padding-right: 23px;
  }
  .table__flag-contact {
    padding-right: 32px;
  }
  .table__fio {
    width: 216px;
    margin-right: 0;
  }

  .table__create-container,
  .table__update-container {
    display: flex;
    flex-direction: column;
    padding-right: 27px;
    text-align: left;
  }

  .table__create-date,
  .table__update-date {
    padding: 0;
  }
  .table__update-time,
  .table__create-time {
    padding: 0;
  }

  .table__th-action {
    flex-direction: column;
    text-align: left;
  }

  .btn-change {
    margin: 0;
  }

  .table__connection {
    max-width: 131px;
    margin-right: auto;
  }
  .table__subtitle-operation {
    padding-right: 35px;
  }
}

@media (max-width: 725px) {
  .container {
    min-width: 1000px;
    min-height: 1025px;
  }

  .search__form {
    display: none;
  }

  .search {
    /* min-width: 320px; */
    width: 100%;
    min-height: 40px;
    padding: 0;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }

  .logo {
    display: none;
  }

  .logo320 {
    display: inline;
    /* top: 8px;
    left: 148px; */
    /* z-index: 9999; */
  }

  .app {
    padding: 70px 10px 30px 10px;
  }

  .app__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .app__modal {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* width: 100%; */
    position: fixed;
    top: 481px;
    left: 51px;
  }

  .modal-content {
    width: 300px;
  }

  .modal__btn-add {
    background-position: 76px 11px;
  }
  .modal__btn-close {
    display: none;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
}
